
doctype html
html(style={height: '100%', padding: '0', margin: '0'}) 
    head
        meta(charset="utf-8", http-equiv="X-UA-Compatible", content="IE=edge")
        meta( name="description", content="")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        script(src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js")
        link(rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css")
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css", integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu", crossorigin="anonymous")
        title Prvi projekt!
        
        style(type="text/css").
            html, body {
                height: 100%;
                padding: 0;
                margin: 0;
            }
            #map {
                /* configure the size of the map */
                width: 75%;
                height: 75%;
            }
            .pad-10 {
                padding-left: 10px;
            }
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: #333;
            }
            li {
                float: left;
            }
            li a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }
            li a:hover {
                background-color: #111;
            }
            
    body 
        ul
            li
                a(href="/") Home
            li
                a(href="/login") Login

        h1.card.pad-10  Dobrodosli u aplikaciju!

        div(class="card pad-10")
            div(class="card-body")
                p(id="demo", class="card-title")

        div(id="map", class="pad-10")

        script.
            var x = document.getElementById("demo");

            window.onload =  function() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(showPosition);
                } else {
                    x.innerHTML = "Geolocation is not supported by this browser.";
                }
            }

            function showPosition(position) {
                x.innerHTML = "Vaša trenutna lokacija je <br> Geografska širina: " + position.coords.latitude +
                "<br>Geografska dužina: " + position.coords.longitude;
                L.marker([position.coords.latitude, position.coords.longitude]).addTo(map)
                .bindPopup('Vaša trenutna lokacija.')
                .openPopup();
            }

            var map = L.map('map').setView({lon: 15.95, lat: 45.78}, 12);

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 50,
                attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
            }).addTo(map);

            L.control.scale({imperial: true, metric: true}).addTo(map);

