
doctype html
html(style={height: '100%', padding: '0', margin: '0'}) 
    head
        meta(charset="utf-8", http-equiv="X-UA-Compatible", content="IE=edge")
        meta( name="description", content="")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css")
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css", integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu", crossorigin="anonymous")
        title Prvi projekt!
        script(src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js")
        
        style(type="text/css").
            html, body {
                height: 100%;
                padding: 0;
                margin: 0;
            }
            #map {
                /* configure the size of the map */
                width: 75%;
                height: 75%;
            }
            .pad-10 {
                padding-left: 10px;
            }
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: #333;
            }
            li {
                float: left;
            }
            li a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }
            li a:hover {
                background-color: #111;
            }
    body 
        ul
            li
                a(href="/") Home
            li
                a(href="/logout") Logout

        h1.card.pad-10  Dobrodosli u aplikaciju #{user.name}!

        p(id="demo", class="card-title")

        div(id="map", class="pad-10")

        script.
            var x = document.getElementById("demo");

            window.onload = async function() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(showPosition);
                } else {
                    x.innerHTML = "Geolocation is not supported by this browser.";
                }
  
                let a = new Date() - new Date('#{user.updated_at}')
                if( (a / 3600 ) < 1) {
                    await navigator.geolocation.getCurrentPosition(saveUserToDB)
                }
                
                var db = openDatabase('myDatabase', '1.0', 'User DB', 2 * 1024 * 1024);
                var msg;
                await db.transaction(function (tx) {
                    var d = new Date();
                    d.setHours(d.getHours() - 2);
                    tx.executeSql('CREATE TABLE IF NOT EXISTS LOGS (id unique, name, latitude, longitude, last_signin)');
                    tx.executeSql('INSERT INTO LOGS (id, name, latitude, longitude, last_signin) VALUES (1, "Andrija Mohorovicic", "45.785", "16","'  + d + '")');
                    d.setHours(d.getHours() - 2);
                    tx.executeSql('INSERT INTO LOGS (id, name, latitude, longitude, last_signin) VALUES (2, "Nikola Tesla", "45.79", "15.95","'  + d + '")');
                    d.setHours(d.getHours() - 2);
                    tx.executeSql('INSERT INTO LOGS (id, name, latitude, longitude, last_signin) VALUES (3, "Faust Vrancic", "45.79", "16","'  + d + '")');
                    d.setHours(d.getHours() - 2);
                    tx.executeSql('INSERT INTO LOGS (id, name, latitude, longitude, last_signin) VALUES (4, "SLavoljub Penkala", "45.785", "15.95","'  + d + '")');
                    d.setHours(d.getHours() - 2);
                    tx.executeSql('INSERT INTO LOGS (id, name, latitude, longitude, last_signin) VALUES (5, "Lavoslav Ruzicka", "45.78", "16","'  + d + '")');
                    d.setHours(d.getHours() - 2);
                    tx.executeSql('INSERT INTO LOGS (id, name, latitude, longitude, last_signin) VALUES (6, "Vladimir Prelog", "45.75", "16","'  + d + '")');
                    })

                await db.transaction(function (tx) {
                        tx.executeSql('SELECT * FROM LOGS ORDER BY last_signin ASC LIMIT 5', [], function (tx, results) {
                            var len = results.rows.length, i; 
                            for (i = len - 1; i >= 0; i--) {
                                showPositionOfUser(results.rows.item(i).name, results.rows.item(i).latitude, 
                                results.rows.item(i).longitude, results.rows.item(i).last_signin)
                            }
                        }, null);
                });  
            }

            async function saveUserToDB(position) {
                var db = openDatabase('myDatabase', '1.0', 'User DB', 2 * 1024 * 1024);
                var msg;
                name = '#{user.name}'
                updated_at = '#{user.updated_at}'
                await db.transaction(function (tx) {
                    tx.executeSql('CREATE TABLE IF NOT EXISTS LOGS (id unique, name, latitude, longitude, last_signin)');
                    tx.executeSql('INSERT INTO LOGS (name, latitude, longitude, last_signin) VALUES ("' + name + '"' + ' , "' 
                    + position.coords.latitude + '", "' + position.coords.longitude + '","' + updated_at + '")');
                })
            }

            function showPosition(position) {
                x.innerHTML = "Vaša trenutna lokacija je <br> Geografska širina: " + position.coords.latitude +
                " <br>Geografska dužina: " + position.coords.longitude;
                L.marker([position.coords.latitude, position.coords.longitude]).addTo(map)
                .bindPopup('Vaša trenutna lokacija.')
                .openPopup();
            }

            var map = L.map('map').setView({lon: 15.95, lat: 45.78}, 12);

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 50,
                attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
            }).addTo(map);

            L.control.scale({imperial: true, metric: true}).addTo(map);

            function showPositionOfUser(name, latitude, longitude, last_signin) {
                L.marker([latitude, longitude]).addTo(map)
                .bindPopup(name + '(' + last_signin + ') ' + '\n' + ' [' + latitude + ',' + longitude + '] '  )
                .openPopup();
            }
